<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <!-- <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo.svg" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a> -->
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="fas fa-bars"></span>
      </button>

      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="fas fa-bars"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <div class="nav-link">
            <div class="profile-image">
              <img src="http://via.placeholder.com/40x40" alt="image" />
            </div>
            <div class="profile-name">
              <p class="name">
                Welcome Shaban
              </p>
              <p class="designation">
                Admin
              </p>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fa fa-home menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="/report">
            <i class="fas fa-chart-pie menu-icon"></i>
            <span class="menu-title">Report</span>
          </a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/schools">
            <i class="fas fa-chalkboard-teacher menu-icon"></i>
            <span class="menu-title">Schools</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/login">
            <i class="fas fa-sign-in-alt menu-icon"></i>
            <span class="menu-title">login</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/register">
            <i class="fas fa-user-plus menu-icon"></i>
            <span class="menu-title">Register</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/login">
            <i class="fas fa-user-plus menu-icon"></i>
            <span class="menu-title">Logout</span>
          </a>
        </li>

      </ul>
    </nav>